<!DOCTYPE html>
<html>
    <head>
        <title>{{cat.nombreCategoria}}</title>
    </head>
    <body>
        <h1>{{cat.nombreCategoria}}</h1>
        <h2><img src="{{cat.logo}}" width="120" height="100"></h2>
        {{ cat.descripcion }}
        <h3>Premio a obtener: {{ cat.premio }}</h3>
        <br>
        {%block content%}
        <h2>EQUIPOS</h2>
        {%for equipo in cat.equipos.all%}
        <img src="{{equipo.logo}}" width="100" height="100">
        <br><br>
        <a href="{% url 'Equipoinfo' equipo.categoria equipo.nombreEquipo %}">{{equipo.nombreEquipo}}</a>
        <br>
        <a href="{% url 'equipo' equipo.categoria equipo.nombreEquipo %}">Plantilla</a>
        <p>{{equipo.nombreEquipo}} -> {{equipo.ciudad}}</p> 
        <br><br>
        {%endfor%}
        {%endblock%}
    </body>
</html>