<!DOCTYPE html>
<html>
  <head>
    <title>{{cat.nombreCategoria}}</title>
  </head>
  <body>
    <header>
      <h1>INFOBASKET</h1>
      <img
        src="https://i.ibb.co/Js7T3Zt/marca.png"
        alt="marca"
        width="100"
        height="100"
      />
    </header>
    <nav>
      <a href="{% url 'noticia' %}">Noticias</a>
      <a href="{% url 'contacto' %}">Contacto</a>
    </nav>
    <main>
      <h1>{{cat.nombreCategoria}}</h1>
      {{ cat.descripcion }}
      <h3>Premio a obtener: {{ cat.premio }}</h3>
      <br />
      {%block content%}
      <h2>EQUIPOS</h2>
      {%for equipo in cat.equipos.all%}
      <div id="imagen y links">
        <img src="{{equipo.logo}}" width="100" height="100" />
        <br /><br />
        <a
          href="{% url 'Equipoinfo' equipo.categoria.nombreCategoria equipo.nombreEquipo %}"
          >{{equipo.nombreEquipo}}</a
        >
        <br />
        <a href="{% url 'equipo' equipo.categoria.nombreCategoria equipo.id %}"
          >Plantilla</a
        >
        <p>{{equipo.nombreEquipo}} -> {{equipo.ciudad}}</p>
        <br /><br />
      </div>
      {%endfor%} {%endblock%}
    </main>
  </body>
</html>
