<!DOCTYPE html>
<html>
  <head>
    <title>Be right back.</title>
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <section>
        <h2><i>{{equipo.nombreEquipo}}---{{equipo.ciudad}}</i></h2>
      </section>
      <section>
          {% for jugador in equipo.jugadores.all %}
            <img src="" alt="imagen{{jugador.nombre}}">
            <article>
            <p>{{jugador.nombre}}</p>
            <p>{{jugador.puntosPorPartido}}</p>
            <p>{{jugador.asistenciasPorPartido}}</p>
            <p>{{jugador.rebotesPorPartido}}</p>
            <p>{{jugador.dorsal}}</p>
            </article>
          {% endfor %}
        </table>
      </section>
    </main>
  </body>
</html>
