<!DOCTYPE html>
<html>
  <head>
    <title>{{equipo.nombreEquipo}}</title>
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>
      <section>
        <h2><i>{{equipo.nombreEquipo}}---{{equipo.ciudad}}</i></h2>
      </section>
      <section>
          {% for jugador in equipo.jugadores.all %}
            <img src="{{jugador.imagen}}" alt="imagen{{jugador.nombre}}" width="150" height="150">
            <p> {{jugador.nombre}}</p>
            <p>{{jugador.apellido}}</p>
            <div>
              <table>
                <tr>
                  <th><p>Dorsal:</p></th>
                  <th><p>{{jugador.dorsal}}</p></th>
                </tr>
                <tr>
                  <th><p>PPP:</p></th>
                  <th><p>{{jugador.puntosPorPartido}}</p></th>
                </tr>
                <tr>
                  <th><p>APP:</p></th>
                  <th><p>{{jugador.asistenciasPorPartido}}</p></th>
                </tr>
                <tr>
                  <th><p>RPP:</p></th>
                  <th><p>{{jugador.rebotesPorPartido}}</p></th>
                </tr>
              </table>
              <br><br>
            </div>
          {% endfor %}
      </section>
    </main>
  </body>
</html>
