<!DOCTYPE html>
<html>
  <head>
    <title>InfoBasket</title>
    <link
      rel="icon"
      src="https://i.ibb.co/Js7T3Zt/marca.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <h1>INFOBASKET</h1>
      <img
        src="https://i.ibb.co/Js7T3Zt/marca.png"
        alt="marca"
        width="100"
        height="100"
      />
    </header>
    <nav>
      <a href="{% url 'noticia' %}">Noticias</a>
      <a href="{% url 'contacto' %}">Contacto</a>
    </nav>
    <section>
      <h2>CATEGORIAS</h2>
      {% block content %} {% for categoria in categorias%}
      <h3>
        <a href="{% url 'categoria' categoria.nombreCategoria %}">
          {{ categoria.nombreCategoria }}
        </a>
      </h3>
      {% for equipo in categoria.equipos.all %}
      <img src="{{ equipo.logo }}" width="100" height="100" />
      {% endfor %}
      <br /><br />
      {% endfor %} {% endblock %}
    </section>
    <footer></footer>
    <h1>{{nombre}}</h1>
  </body>
</html>
