<!DOCTYPE html>
<html>
    <head>
        <title>Noticias</title>
    </head>
    <body>
        <header>
            <h1>NOTICIERO</h1>
        </header>
        <section>
            <h2>Noticias de las diferentes categorias:</h2>
            {% block content %}
            {% for categoria in categorias%}
            <article class="cat">
                <h2><a href="{% url 'categoria' categoria.nombreCategoria %}">{{categoria.nombreCategoria}}</a>
                {% for noticia in categoria.noticias.all%}
                <table>
                    <tr>
                      <th><p>Titular:</p></th>
                      <th><p>{{noticia.titularNoticia}}</p></th>
                    </tr>
                    <tr>
                      <th><p>Descripcion:</p></th>
                      <th><p>{{noticia.descNoticia}}</p></th>
                    </tr>
                    <tr>
                      <th><p>Imagen:</p></th>
                      <th><p><img src="{{noticia.imgNoticia}}" alt="noticia{{noticia.titularNoticia}}" widht="150" height="150"></p></th>
                    </tr>
                </table>
                {% endfor %}
                </article>
            {% endfor %}
            {% endblock %}
        </section>
        <footer></footer>
        <h1>{{nombre}}</h1>
    </body>
</html>