<!DOCTYPE html>
<html>
    <head>
        <title>TODO BASQUET</title>
    </head>
    <body>
        <header>
            <h1>TODO BASQUET</h1>
            <img src="" alt="logo">
        </header>
        <nav>
            <a>listaEquipos</a>
            <a>listaJugadores</a>
            <a>Contacto</a>
        </nav>
        <section>
            <h2>CATEGORIAS</h2>
            {% block content %}
            {% for categoria in categorias%}
            <article class="cat">
                <h2><a href="% url 'categoria' categoria.nombreCategoria %">{{categoria.nombreCategoria}}</a>
                <p>{{categoria.descripcion}}</p>
                </article>
            {% endfor %}
            {% endblock %}
        </section>
        <footer></footer>
        <h1>{{nombre}}</h1>
    </body>
</html>